{% extends 'base.html' %}

{% load static %}

{% block extra__css %}
    <link  href="{% static 'css/cropper.css' %}" rel="stylesheet">
{% endblock  %}

{% block main %}
    <style>
        .clearable-file-input {
            visibility: hidden;
        }
    </style>

    <div class="card">
        <div class="card-body">
            <h5>Изменение аватарки</h5>
            <hr>
            <form method="post" enctype="multipart/form-data" id='avatars_form'>
                {% csrf_token %}
                {{ crop_form }}
                {{ avatar_form }}
                <div class="mt-3">
                    <img id="avatar" src="{{ user.profile.base_image.url }}" style="width: 100%;" alt="avatar_image">
                </div>
            </form>
            <input type="submit" value="Сохранить" class="mt-3 btn btn-block btn-primary" onclick="setDataAndSubmit()">
        </div>
    </div>

    <script src="{% static 'js/cropper.js' %}"></script>
    <script>
        let avatar_input = document.getElementById('id_base_image')
        const avatar = document.getElementById('avatar')

        function changeImage (e) {
            var reader = new FileReader()

            reader.onload = function (e) {
                avatar.src = e.target.result

                cropper.destroy()

                cropper = new Cropper(avatar, {
                    checkCrossOrigin: false,
                    viewMode: 1,
                    aspectRatio: 1/1,
                    minCropBoxWidth: 256,
                    minCropBoxHeight: 256,
                })
            }

            reader.readAsDataURL(avatar_input.files[0])
        }

        let cropper = new Cropper(avatar, {
            checkCrossOrigin: false,
            viewMode: 1,
            aspectRatio: 1/1,
            minCropBoxWidth: 256,
            minCropBoxHeight: 256,
        })

        function setDataAndSubmit () {
            let form = document.getElementById('avatars_form')

            let cropData = avatar.cropper.getData()
            document.getElementById('id_x').value = cropData["x"]
            document.getElementById('id_y').value = cropData["y"]
            document.getElementById('id_height').value = cropData["height"]
            document.getElementById('id_width').value = cropData["width"]
            form.submit()
        }

        avatar_input.addEventListener("change", changeImage);
    </script>
{% endblock %}