{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="card mt-1">
        <div class="card-header text-center">
            Редактирование
        </div>
        <div class="card-body mb">
            <form method="post" enctype="multipart/form-data" novalidate>
                <style>
                    .asteriskField {
                        display: none;
                    }
                </style>
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}