{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block main %}
    <h1>{% trans "Confirm E-mail Address" %}</h1>

    <hr>

    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}

        <p>
            Пожалуйста подтвердите этот email адрес
            <a href="mailto:{{ confirmation.email_address.email }}">
                {{ confirmation.email_address.email }}
            </a>
            для пользователя {{ user_display }}.
        </p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-block btn-primary">{% trans 'Confirm' %}</button>
        </form>
    {% else %}
        {% url 'account_email' as email_url %}

        <p>
            Срок действия ссылки для подтверждения по электронной почте истек или недействителен. Пожалуйста,
            <a href="{{ email_url }}"> отправьте новый запрос подтверждения </a>
            по электронной почте
        </p>
    {% endif %}
{% endblock %}