{% extends 'base.html' %}

{% block page_name_block %}Смена пароля{% endblock %}

{% load crispy_forms_tags %}

{% block main %}
    <form class="signup" id="id-password-changing" method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <h4>Смена пароля</h4>
        <hr>
        {{ form | crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block mb-2">Принять</button>
    </form>
{% endblock %}