{% extends 'base.html' %}

{% block main %}
    <h1 class="text-center">Книги</h1>
    {% if user.profile.is_librarian %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#addingBookModalCenter">Добавить книгу</button>
        {% include 'library/add_book_modal.html' %}
    {% endif %}
    <div id="id-table-of-books-index">
        {% include 'library/table_of_books.html' %}
    </div>
{% endblock %}

{% block extra__js %}
    <script>
        let nameBook = document.getElementById('id-name-book-adding')
        let infoBook = document.getElementById('id-info-book-adding')
        let submitButton = document.getElementById('id-add-book-push-button')

        submitButton.onclick = function () {
            let dataToSend = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: nameBook.value,
                info: infoBook.value,
            }
            let toInsertHtml = 'id-table-of-books-index'
            sendPostRequest(
                event,
                '{% url 'add_book_post' %}',
                dataToSend,
                toInsertHtml
            )
        }
    </script>
{% endblock %}