<nav class="navbar mx-2 navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Библиотека</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Книги</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons my-0">
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="nothing yet" class="rounded-circle z-depth-0" alt="avatar image" width="30px" height="30px">
                    <span>asd</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                    aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="/accounts/profile/{{ user.profile.custom_url }}/">Профиль</a>
                    {% if not user.has_usable_password %}
                        <a class="dropdown-item" href="{% url 'account_set_password' %}">Установить пароль</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'account_change_password' %}">Сменить пароль</a>
                    {% endif %}
                    <a class="dropdown-item" href="/about/">О нас</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
                </div>
            </li>
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="search" placeholder="Поиск..." aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>#}
{#        </form>#}
    </div>
</nav>