{% extends 'base.html' %}

{% block main %}

    <h1 class="text-center mt-3 mb-2">{{ current_book.name }}</h1>

     <div class="card mt-4 mx-auto">
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col text-center">
                    {% if current_book.in_use_by %}
                        Читает: {{ current_book.in_use_by }}
                    {% else %}
                        Доступна
                    {% endif %}
                </div>
                <div class="col text-center">
                    {{ current_book.info }}
                </div>
                <div class="col text-center">
                    Кол-во прочитавших: {{ current_book.read_history.all|length }}
                </div>
            </div>
        </div>
    </div>

    <div id="id-book-data">
        {% include 'book/book_main_page_data.html' %}
    </div>

{% endblock %}

{% block extra__js %}
    <script>
        let studentSelection = document.getElementById('id-selection-student')
        let toDateElement = document.getElementById('id-date-back-giving-book')
        let submitButton = document.getElementById('id-give-book-push-button')

        submitButton.onclick = function () {
            let dataToSend = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                student_id: studentSelection.value,
                to_date: toDateElement.value,
            }
            let toInsertHtml = 'id-book-data'
            sendPostRequest(
                event,
                '{% url 'give_book_post' current_book.id %}',
                dataToSend,
                toInsertHtml
            )
        }
    </script>
{% endblock %}